$primary-color: #0775FF;
$primary-color-hover: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.75);
$primary-color-bg-opacity: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.13);

$success-color: #4caf50;
$success-color-bg-opacity: rgba(red($success-color), green($success-color), blue($success-color), 0.13);

$warning-color: #ffc107;
$warning-color-bg-opacity: rgba(red($warning-color), green($warning-color), blue($warning-color), 0.13);

$danger-color: #f44336;
$danger-color-bg-opacity: rgba(red($danger-color), green($danger-color), blue($danger-color), 0.13);

$white-text-color: #ffffff;
$white-soft-text-color: #BBBDBF;

$black-text-color: #080808;
$black-soft-text-color: #515151;

$bg-dark-color: #282C32;
$bg-light-color: #ECECEC;
$shape-light-color: #FFF;