@import "@/styles/sass/variables.module.scss";

.container {
  background-color: $bg-dark-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @media screen and (min-width: $tablet) {
    flex-direction: row; 
    gap: 0; 
  }
}