@import "@/styles/sass/variables.module.scss";

.titleLarge {
  line-height: 130%;
  font-size: 1.5rem;

  @media screen and (min-width: $tablet) {
    font-size: 3rem;
  }
}

.titleRegular {
  line-height: 130%;
  font-size: 1.5rem;

  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  }
}

